name: flutter_entries_app
description: A Flutter app for managing entries with GPS and API integration.
publish_to: 'none' # This prevents accidental publishing to pub.dev
version: 1.0.0+1

environment:
  sdk: ">=2.18.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  http: ^1.2.2
  geolocator: ^13.0.1
  url_launcher: ^6.1.10
  image_picker: ^0.8.7+4
  provider: ^6.0.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1

flutter:
  uses-material-design: true

  assets:
    # Jeśli później dodasz np. obrazy testowe
    - assets/images/
